{% extends "base.html" %}

{% block head_title %}Edriffles{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Edriffles" />
  <meta name="twitter:title" content="Edriffles" />

  <meta name="description" content="Edriffles Computer Web, an independent social client for the AT Protocol." />
  <meta name="og:description" content="Edriffles Computer Web, an independent social client for the AT Protocol." />
  <meta name="twitter:description" content="Edriffles Computer Web, an independent social client for the AT Protocol." />

  <meta property="og:url" content="https://social.edriffles.us" />
  <meta name="twitter:url" content="https://social.edriffles.us" />
  <link rel="canonical" href="https://social.edriffles.us" />

  <meta property="og:image" content="https://social.edriffles.us/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://social.edriffles.us/static/social-card-default-gradient.png"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
