{% extends "base.html" %}

{% block head_title %}Plumbline{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Plumbline" />
  <meta name="twitter:title" content="Plumbline" />

  <meta name="description" content="Plumbline Computer Web, an independent social client for the AT Protocol." />
  <meta name="og:description" content="Plumbline Computer Web, an independent social client for the AT Protocol." />
  <meta name="twitter:description" content="Plumbline Computer Web, an independent social client for the AT Protocol." />

  <meta property="og:url" content="https://plumblines.uk" />
  <meta name="twitter:url" content="https://plumblines.uk" />
  <link rel="canonical" href="https://plumblines.uk" />

  <meta property="og:image" content="https://plumblines.uk/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://plumblines.uk/static/social-card-default-gradient.png"  />

  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
